<div class="items-cart">
  <h3>Added to cart:</h3>
  <mat-divider
    class="mat-divider mat-divider-horizontal"
    role="separator"
    aria-orientation="horizontal"
  ></mat-divider>
  <div class="item-cart-list">
    <span class="cart-item-name"><strong>Total: </strong></span
    ><span class="cart-item-price">0</span>
  </div>
  <div style="width: 100%;">
    <button
      color="primary"
      mat-raised-button=""
      style="width: 100%;"
      class="mat-raised-button mat-button-base mat-primary"
      ng-reflect-color="primary"
    >
      <span class="mat-button-wrapper">Buy</span>
      <div
        class="mat-button-ripple mat-ripple"
        matripple=""
        ng-reflect-centered="false"
        ng-reflect-disabled="false"
        ng-reflect-trigger="[object HTMLButtonElement]"
      ></div>
      <div class="mat-button-focus-overlay"></div>
    </button>
  </div>
</div>
