<h1 class="mat-h1 main-title">[NPC] Beginner Merchant</h1>
<h3 class="mat-h3 test-description">
  Hello Adventurer, welcome to the town of Angular! <br />Here you can explore
  all the exciting stuff like meeting weird monster, learning new spell, and
  discovering rare item. <br />But first, you need some weapon/spell to
  accompany you along the way! <br />I will give you 1000 gold, so choose your
  weapon/spell wisely~
</h3>
<div class="card-wrapper">
  <div *ngFor="let item of items">
    <mat-card class="item-card mat-card"
      ><mat-card-header class="mat-card-header"
        ><div class="mat-card-header-text">
          <mat-card-title class="mat-card-title" *ngIf="item">{{
            item.name
          }}</mat-card-title
          ><mat-card-subtitle class="mat-card-subtitle" *ngIf="item">{{
            item.price
          }}</mat-card-subtitle>
        </div></mat-card-header
      >
      <div class="img-wrapper">
        <img class="mat-card-image" src="{{ item.image }}" />
      </div>
      <mat-card-content class="mat-card-content"
        ><p>
          {{ item.desc }}
        </p></mat-card-content
      ><mat-card-actions class="right-button mat-card-actions"
        ><button
          mat-button=""
          class="mat-button mat-button-base"
          (click)="addToCart(i)"
          [disabled]="item.isAdded === true"
        >
          <span class="mat-button-wrapper"
            ><mat-icon
              class="mat-icon notranslate material-icons mat-icon-no-color"
              role="img"
              aria-hidden="true"
              >add_shopping_cart</mat-icon
            >
            {{ addedToCart }}
          </span>
          <div class="mat-button-ripple mat-ripple"></div>
          <div class="mat-button-focus-overlay"></div>
        </button> </mat-card-actions
    ></mat-card>
  </div>
</div>
